{%- capture section_id -%} section-{{-snippet_instance.id-}} {%- endcapture -%}

{% if snippet_instance.settings.enable_custom_styles %}
  {% include 'section-styles', instance_settings: snippet_instance.settings, instance_usage: 'product-page' %}
{% endif %}

{% unless snippet_instance.settings.product_item == blank or product_embedded %}
  {% assign product = all_products[snippet_instance.settings.product_item] %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div id="{{ section_id }}">

    <div class="product-page product-page_embedded content-section" {% if snippet_type == 'section' %} data-section-id="{{ snippet_instance.id }}" data-section-type="product-page" {% endif %}  itemscope itemtype="http://schema.org/Product">
      <meta itemprop="name" content="{{ product.title }}">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
      {% unless snippet_instance.settings.title == blank %}
        <div class="row columns js-animate-appear-show text-{{ snippet_instance.settings.text_align }}">
          <h2 class="section-title section__title-style">{{ snippet_instance.settings.title }}</h2>
        </div>
      {% endunless %}

      <div class="row product-single">
        {% case snippet_instance.settings.images_width %}
          {% when '30' %}
            {% assign product_images_grid = 'large-4 columns' %}
            {% assign product_info_grid = 'large-8 columns' %}
          {% when '50' %}
            {% assign product_images_grid = 'large-6 columns' %}
            {% assign product_info_grid = 'large-6 columns' %}
          {% when '60' %}
            {% assign product_images_grid = 'large-7 columns' %}
            {% assign product_info_grid = 'large-5 columns' %}
          {% when '70' %}
            {% assign product_images_grid = 'large-8 columns' %}
            {% assign product_info_grid = 'large-4 columns' %}
        {% endcase %}
        <div class="{{ product_images_grid }} product-images">
          <div class="content-placeholder product-images__placeholder">
            <div class="placeholder-loading">
              {%- include 'placeholder-image' -%}
            </div>
          </div>

          <div class="js-animate-appear product-images__container preloaded__content">
            <div class="product__images {% if product.images.size > 1 %}is-carousel{% endif %} {% if settings.show_featured_image_first %} featured-img-first {% endif %}" id="productImages">
              {% for image in product.images %}
                <div class="product-image__slide" data-img-id="{{image.id}}">
                  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <div class="product__image__item image-zoom" data-zoom="{{ image | img_url: '1296x1296', scale: 2 }}">
                    <img
                    class="lazyload lazypreload {% if forloop.index == 1 %} __first-image {% endif %}"
                    src="{{ image | img_url: '300x300' }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ image.alt | escape }}">
                  </div>
                </div>
              {% endfor %}
            </div>

            {% if product.images.size < 6 or settings.enable_product_images_thumbs_carousel == false %}
              {% assign product_thumbs_class = 'row medium-up-5 large-up-5 product-images__thumbs' %}
              {% assign product_thumbs_item_class = 'column product-thumbs__item' %}
            {% else %}
              {% assign product_thumbs_class = '' %}
              {% assign product_thumbs_item_class = 'product-thumbs__item' %}
            {% endif %}

            {% if product.images.size > 1 %}
              <div class="product__thumbs {{ product_thumbs_class }}" id="productImagesNav">
                {% for image in product.images %}
                  <div class="{{ product_thumbs_item_class }} {% if forloop.index0 == 0 %}thumb-current{% endif %}" data-thumb-id="{{image.id}}">
                    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="{{ product_info_grid }} product-card">
          <div class="content-placeholder product-info__placeholder">
            {%- include 'placeholder-content' -%}
          </div>

          <div class="product-info__container js-animate-appear  {% unless snippet_instance.settings.display_product_quantity %}product-quantity-hidden{% endunless %}">
            {% if snippet_instance.settings.display_product_vendor %}
              <div class="product-vendor">{{ product.vendor | link_to_vendor }}</div>
            {% endif %}
            <a href="{{ product.url }}" class="product-title" itemprop="name">{{ product.title }}</a>
            {% comment %}
              Additional HTML
            {% endcomment %}
            {% unless snippet_instance.settings.html_below_title == blank %}
              {{ snippet_instance.settings.html_below_title }}
            {% endunless %}

            {% comment %}
              Product SKU
            {% endcomment %}
            {% if snippet_instance.settings.display_product_sku %}
              <div class="product-variant-sku" itemprop="sku">SKU: {{ current_variant.sku }}</div>
            {% endif %}

            {% comment %}
              Shopify Product App Reviews Markup
            {% endcomment %}
            {% if settings.add_spr_markup %}
              <div class="spr-badge-container">
                <a href="{{ product.url | within: collection }}#shopify-product-reviews">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </a>
              </div>
            {% endif %}

            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
              {% comment %}
                ID addToCartForm is a selector for the ajax cart plugin
              {% endcomment %}
              {% form 'product', product, id: "AddToCartForm", class: "form-vertical" %}
                <div class="product__variants__wrap">
                  <div class="product__variants_no-js">
                    <select name="id" id="productSelect" class="product-single__variants">
                      {% for variant in product.variants %}
                        {% if variant.available %}
                          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                        {% else %}
                          <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                          </option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>

                  {% if product.available and product.variants.size > 0 %}
                    {% for option in product.options %}
                      {% include 'swatch' with option %}
                    {% endfor %}
                  {% endif %}
                </div>

                {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  <s id="ComparePrice">
                    <span class="money">{{ current_variant.compare_at_price | money }}</span>
                  </s>
                {% endif %}

                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span id="ProductPrice" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  <span class="money">{{ current_variant.price | money }}</span>
                </span>
                <div class="clearfix"></div>
                <label for="Quantity" class="quantity-selector quantity-label">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-selector_static">

                <button type="submit" name="add" id="AddToCart" class="button addToCartButton">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>

                {% if snippet_instance.settings.enable_dynamic_checkout_button %}
                <div class="dynamic-payment-btn-wrap">
                  {{ form | payment_button }}
                </div>
                {% endif %}
              {% endform %}
            </div>

            {% comment %}
              Additional HTML
            {% endcomment %}
            {% unless snippet_instance.settings.html_below_buy == blank %}
              {{ snippet_instance.settings.html_below_buy }}
            {% endunless %}

            <div class="product-description rte" itemprop="description">
              {{ product.description }}
            </div>

            {% if snippet_instance.settings.display_share_buttons %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
          </div>
        </div>
      </div>

      {% comment %}
        Additional HTML
      {% endcomment %}
      {% unless snippet_instance.settings.html_below_card == blank %}
        <div class="row columns">
          {{ snippet_instance.settings.html_below_card }}
        </div>
      {% endunless %}

    </div>
  </div>

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  <script>
    var selectCallback = function(variant, selector) {
      $(document).ready(function() {
        universe.productPage({
          money_format: "{{ shop.money_format }}",
          variant: variant,
          selector: selector
        });
        {% if settings.enable_currency_switch %}
          variantCurrencyUpdate(variant, selector);
        {% endif %}

        {% if snippet_instance.settings.display_product_sku %}
          if (variant) {
            $('.product-variant-sku').text('SKU: ' + variant.sku);
          }
          else {
            $('.product-variant-sku').empty();
          }
        {% endif %}
      });
    };

    jQuery(function($) {
      new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });

      {% if product.options.size == 1 and product.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
      {% endif %}

      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        $('.selector-wrapper, .product__variants__wrap').hide();
      {% endif %}
    });

    jQuery(function() {
      jQuery('.swatch :radio').click(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
      });
      $('.swatch label').on('touchend', function() { $(this).click()});
    });
  </script>
{% endunless %}

{% assign product_embedded = true %}
