{%- capture section_id -%} section-{{-section.id-}} {%- endcapture -%}

{% if section.settings.enable_custom_styles %}
  {% include 'section-styles', instance_settings: section.settings %}
{% endif %}

{% assign bg_image = section.settings.background_image %}
{% assign bg_image_style = section.settings.background_image_style %}
{% if bg_image != blank and bg_image_style == 'cover' %} {% assign lazyload = 'lazyload' %} {% endif %}

{% if section.settings.enable_custom_styles %}
  <style>
  #{{section_id}} .password__enter-link a {
    {% if section.settings.enter_password_color != blank %}color: {{ section.settings.enter_password_color }} {% endif %}
  }
  #{{section_id}} .password__enter-link svg {
    {% if section.settings.enter_password_color != blank %}fill: {{ section.settings.enter_password_color }} {% endif %}
  }
  #{{section_id}} .social-media-links a {
    {% if section.settings.social_networks_color != blank %}color: {{ section.settings.social_networks_color }} {% endif %}
  }
  #{{section_id}} .password__copyright {
    {% if section.settings.copyright_text_color != blank %}color: {{ section.settings.copyright_text_color }} {% endif %}
  }
  #{{section_id}} .password__newsletter__title {
    font-size: {{ section.settings.form_title_size | append: 'px' }};
  }
  </style>
{% endif %}

<div id="{{section_id}}" class="password-page  text-shadow__{{- section.settings.text_shadow -}}">
  <div {{ section_attributes }}
    class="{{ lazyload }} password-page__inner content-section section__background"
    {% if bg_image != blank and bg_image_style == 'cover' and section.settings.enable_custom_styles %}
      data-bgset="{% include 'bgset', image: bg_image %}"
      data-sizes="auto"
      data-parent-fit="cover"
    {% endif %}>
    <div class="background_darken"></div>
    <div class="row password__header">
      <div class="small-4 medium-6 large-6 columns password__logo">

        {% if section.settings.password_page_logo != blank %}
          <img width="{{section.settings.logo_max_width}}" class="logo__img" src="{{ section.settings.password_page_logo | img_url: '512x' }}" alt="{{ shop.name }}" itemprop="logo">
        {% elsif settings.logo_use_image and settings.logo_image != blank %}
          <img width="{{section.settings.logo_max_width}}" class="logo__img" src="{{ settings.logo_image | img_url: '512x' }}" alt="{{ shop.name }}" itemprop="logo">
        {% else %}
          <h1 class="password__logo-title">{{ shop.name }}</h1>
        {% endif %}

      </div>
      <div class="small-8 medium-6 large-6 columns password__enter-link text-right">
        <a data-open="passwordModal">
          <span class="password__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"/></svg>
          </span>
          <span class="password__enter-text">
           {{ section.settings.enter_password_link_text }}
          </span>
        </a>
      </div>
    </div>


    <div class="row password__body">
      <div class="medium-centered medium-7 large-6 columns text-center">
        <h1 class="password__main-title section__title-style">{{ section.settings.page_title }}</h1>

        {% unless shop.password_message == blank %}
          <div class="password__message section__text-style">
            {{ shop.password_message }}
          </div>
        {% endunless %}


        {% if section.settings.show_subscription_form %}
          <div class="newsletter-section password__newsletter">
            {% unless section.settings.form_title == blank %}
              <h2 class="password__newsletter__title">{{ section.settings.form_title }}</h2>
            {% endunless %}

            {% assign btn_id = section.id %}
            {% include 'button-style', button_id: btn_id, enable_button_style: true, btn_bg_color: section.settings.btn_bg_color, btn_style: section.settings.btn_style, btn_text_color: section.settings.btn_text_color %}

            {% if section.settings.newsletter_form_action != blank %}
              <form action="{{ section.settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                <div class="inline-signup newsletter__form-fields">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field form__input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocapitalize="off">
                  <input id="button-{{ btn_id }}" type="submit" class="button {% if section.settings.btn_style == 'hollow' %}hollow{% endif %}" name="subscribe"  value="{{ section.settings.button_text }}">
                </div>
              </form>
            {% else %}
              {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                  <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                {% else %}
                  <div class="inline-signup newsletter__form-fields">
                    <input class="form__input" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocapitalize="off">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input id="button-{{ btn_id }}" type="submit" class="button {% if section.settings.btn_style == 'hollow' %}hollow{% endif %}" name="subscribe" value="{{ section.settings.button_text }}">
                  </div>
                {% endif %}
              {% endform %}
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.show_social_networks %}
          <div class="password__social-networks">
            {% include 'social-media-links' %}
          </div>
        {% endif %}

      </div>
    </div>

    <div class="row columns password__footer text-center">
      <div class="password__copyright copyright">
       {% unless section.settings.password_copyright == blank %}{{section.settings.password_copyright}}{% endunless %}
      </div>
    </div>
  </div>
</div>

<div class="reveal" id="passwordModal" data-reveal>
  {% if section.settings.enter_password_link_text != blank %}
    <h3 class="password__modal__title">{{ section.settings.enter_password_link_text }}</h3>
  {% else %}
    <h3 class="password__modal__title">Password</h3>
  {% endif %}

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password">Enter store using password:</label>
    <div class="inline-signup password__form__fields">
      <input class="form__input" type="password" name="password" id="password" autofocus="" />
      <input class="button" name="commit" type="submit" value="Enter" />
    </div>
  {% endform %}


  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% schema %}
{
  "name": "Password Page Template",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "image_picker",
      "id": "password_page_logo",
      "label": "Logo",
      "info": "Upload a logo for the password page."
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 80,
      "max": 220,
      "step": 5,
      "unit": "px",
      "label": "Logo Width",
      "default": 160
    },
    {
      "type": "text",
      "id": "page_title",
      "label": "Page Title",
      "default": "Opening Soon"
    },
    {
      "type": "text",
      "id": "enter_password_link_text",
      "label": "Password Link Text",
      "default": "Enter with password"
    },
    {
      "type": "checkbox",
      "id": "show_social_networks",
      "label": "Show Social Network Icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Form Settings"
    },
    {
      "type": "checkbox",
      "id": "show_subscription_form",
      "label": "Show Form",
      "default": true
    },
    {
      "type": "text",
      "id": "form_title",
      "label": "Form Title",
      "default": "Get notified when we open."
    },
    {
      "type": "text",
      "id": "newsletter_form_action",
      "label": "MailChimp form action URL",
      "info": "[Where do I find my MailChimp form action URL?](https:\/\/shopify.barrelny.com\/where-do-i-find-the-mailchimp-signup-url\/)"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Notify me"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "richtext",
      "id": "password_copyright",
      "label": "Copyright text",
      "default": "<p>© Powered by Shopify and <a href=\'https://outlane.co\'>Universe Theme</a>.</p>"
    },
    {
      "type": "header",
      "content": "Content Style"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_styles",
      "label": "Enable Custom Styles",
      "default": true
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "enter_password_color",
      "label": "Enter Password Link Color"
    },
    {
      "type": "color",
      "id": "social_networks_color",
      "label": "Social Networks Icons Color"
    },
    {
      "type": "color",
      "id": "copyright_text_color",
      "label": "Copyright Text Color"
    },
    {
      "type": "select",
      "id": "text_shadow",
      "label": "Text shadow effect",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "soft",
          "label": "Soft"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "intense",
          "label": "Intense"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Title Size",
      "default": 64
    },
    {
      "type": "range",
      "id": "text_font_size",
      "min": 12,
      "max": 55,
      "step": 1,
      "unit": "px",
      "label": "Text Size",
      "default": 18
    },
    {
      "type": "range",
      "id": "form_title_size",
      "min": 12,
      "max": 55,
      "step": 1,
      "unit": "px",
      "label": "Form Title Size",
      "default": 30
    },
    {
      "type": "header",
      "content": "Background Style"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "select",
      "id": "background_image_style",
      "label": "Background Image Style",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "repeat",
          "label": "Repeat"
        }
      ]
    },
    {
      "type": "range",
      "id": "darken",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Darken Background",
      "default": 0
    },
    {
      "type": "header",
      "content": "Form Fields Style"
    },
    {
      "type": "color",
      "id": "field_bg_color",
      "label": "Field Background Color"
    },
    {
      "type": "color",
      "id": "field_border_color",
      "label": "Field Border Color"
    },
    {
      "type": "color",
      "id": "field_text_color",
      "label": "Field Text Color"
    },
    {
      "type": "header",
      "content": "Button Style"
    },
    {
      "type": "select",
      "id": "btn_style",
      "label": "Button Style",
      "default": "full",
      "options": [
        {
          "value": "full",
          "label": "Filled"
        },
        {
          "value": "hollow",
          "label": "Hollow"
        }
      ]
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Button Background Color"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Button Text Color"
    }
  ]
}
{% endschema %}
