{% assign number_of_comments = article.comments_count %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

{% include 'breadcrumb' %}

<div class="row article-page js-animate-appear-up">

  <article class="medium-8 large-8 columns blog-article" itemscope itemtype="http://schema.org/Article">

    <header class="article-header">
      <h1 class="article-title">{{ article.title }}</h1>
      <div class="article-meta">
        {% capture date %}<span class="article-date"><i class="icon icon-calendar-alt"></i> <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></span>{% endcapture %}

        {% capture author %}<span class="article-author"><i class="icon icon-user"></i> {{ article.author }}</strong>{% endcapture %}

        {{ date }}
        {% include 'tags-article' %}

        {% if settings.blog_post_author %}
          {{ author }}
        {% endif %}

      </div>
    </header>

    <div class="rte" itemprop="articleBody">
      {% if article.image %}
        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="article-featured-img lazyload"
          src="{{ article.image | img_url: '300x' }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="1.6"
          data-sizes="auto"
          data-parent-fit="cover"
          alt="{{ article.image.alt | escape }}">
      {% endif %}
      {{ article.content }}
    </div>

    {% if settings.blog_share_buttons %}
      <hr>
      {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
    {% endif %}

    {% if blog.comments_enabled? %}
      <hr>

      <h4 class="blog-comments-title"><i class="icon icon-comment"></i> {{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h4>
      {% paginate article.comments by 10 %}
        <div id="comments">

          {% if comment and comment.created_at %}
            <p class="note form-success">
              {% if blog.moderated? %}
                {{ 'blogs.comments.success_moderated' | t }}
              {% else %}
                {{ 'blogs.comments.success' | t }}
              {% endif %}
            </p>
          {% endif %}

          {% if number_of_comments > 0 %}
            <ul class="no-bullets">
              {% if comment and comment.created_at %}
                <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                  {% include 'comment' %}
                </li>
              {% endif %}
              
              {% for comment in article.comments %}
                <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                  {% include 'comment' %}
                </li>
              {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
              <hr>
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
            {% endif %}

            <hr>

          {% endif %}

          <div class="comment-form">
            {% form 'new_comment', article %}
              <h4 class="post-comment-title"><span class="icon icon-comment-alt"></span> {{ 'blogs.comments.title' | t }}</h4>

              {{ form.errors | default_errors }}

              <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
              <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" autocapitalize="words">

              <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
              <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

              <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
              <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>


              {% if blog.moderated? %}
                <p class="info">{{ 'blogs.comments.moderated' | t }}</p>
              {% endif %}

              <input type="submit" class="button" value="{{ 'blogs.comments.post' | t }}">
            {% endform %}
          </div>

        </div>
      {% endpaginate %}
    {% endif %}

  </article>

  <aside class="medium-4 large-4 columns blog-sidebar js-animate-appear-right" role="complementary">
    {% section 'blog-sidebar' %}
  </aside>
</div>
