<!-- /templates/collection.liquid -->

{% paginate collection.products by settings.collection_items_count %}

{% section 'collection-header' %}

<div class="collection-page">
  <div class="row">

    {% if settings.display_collection_sidebar %}
      {% assign collection_content_wrap = 'medium-9 large-9' %}

      <div class="medium-3 large-3 columns collection-sidebar js-animate-appear-left">
        {% section 'collection-sidebar' %}
      </div>
    {% endif %}

    <div class="{{ collection_content_wrap }} columns collection-content">

      {% if settings.display_collection_title or settings.display_collection_sorting or settings.display_collection_view_switch %}
        <header class="row collection-header js-animate-appear-show">
          <div class="{% if settings.display_collection_sorting or settings.display_collection_view_switch %}large-7{% endif %} columns collection__title__wrap">
            {% if settings.display_collection_title %}
              <h1 class="collection-title">{{ collection.title }}</h1>
              {% if collection.description != blank %}
                <div class="rte collection-description">
                  {{ collection.description }}
                </div>
              {% endif %}
            {% else %}
              &nbsp;
            {% endif %}
          </div>

          <div class="large-5 columns collection-sorting">
            <div class="sorting-controls">
              {% include 'collection-sorting' %}
            </div>
          </div>
        </header>
      {% endif %}

      {% for product in collection.products %}
        {% if forloop.index == 1 %}
        <div class="collection__products-grid row small-up-{{ settings.collection_row_mobile }} medium-up-{{ settings.collection_row_tablet }} large-up-{{ settings.collection_row_desktop }} js-animate-appear-up">
        {% endif %}
          {% assign grid_item_width = 'column column-block' %}
          {% include 'product-grid-item', the_product: product %}
        {% if forloop.last %}
        </div>
        {% endif %}
      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}
          <div class="row columns">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}
      {% endfor %}

      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-angle-left"></span>' | replace: 'Next &raquo;', '<span class="icon icon-angle-right"></span>' }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endpaginate %}
